$mautim: #87509c //Tím 
$maungoc: #17c2a4 // Cyan
$mauvang: #ffdd99 // Vang 
$maudo: #d74680 // Đỏ 
$mauxanh: #3c5499 // Xanh 

.home_slider
    background: $mautim
    min-height: 368px
    justify-content: center
    align-items: center
    text-align: center
    padding: 3.5rem 3rem
    h1
        letter-spacing: .1rem
        font-size: .2.5rem
        color: #ffffff
    .btn-more
        color: #ffffff
        background: darken($mauvang, 30%)
        padding: .5rem 2.5rem
