extends _layout/layout.pug
block main 
	section.home_slider
		.container
			.row
				.col
					h1 Hi there! We are the new kids on the block and we build awesome website and mobile app
					.btn.btn-more work with us
	section.home_service
		.container
			.row
				.col
					h2 SERVICE WE PROVIDE
					p We are working with both individual and buisiness from all over the globe to creact awesome website and applications
			.row
				.col-sm-3
					figure
						img(src="img/home_icon_1.png", alt="")
						h3 BRANDING
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat itaque omnis consequatur 
				.col-sm-3
					figure
						img(src="img/home_icon_2.png", alt="")
						h3 DESIGN
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolorum aspernatur
				.col-sm-3
					figure
						img(src="img/home_icon_3.png", alt="")
						h3 DEVELOPMENT
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic optio harum ducimus at delectus ipsa!
				.col-sm-3
					figure
						img(src="img/home_icon_4.png", alt="")
						h3 ROCKET SCIENCE
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam praesentium rem adipisci dolorem
	section.home_meet
		.container
			.row
				.col
					h2 MEET OUR BEAUTIFUL TEAM
					p we are small team of design and developers, who help brand with big ideas
			.row
				.col-sm-3
					.span.dot
					h3 ANNE HATHAWAT
					h5 CEO / Marketing Guru
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est cupiditate corrupti ipsam excepturi voluptate. Exercitationem
				.col-sm-3
				.col-sm-3
				.col-sm-3